[Unit]
Description=service to check copper or fiber mode use
DefaultDependencies=no

[Service]
Type=idle
ExecStart=/usr/bin/python3 /kepm/ksz/sel_copp_fib.py
StandardOutput=tty

[Install]
WantedBy=sysinit.target